html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

h2 {
    margin: auto;
}

p {
    margin: 8px 0px 0px;
}

header {
    height: 10%;
    background-color: #96d896;
    padding: 5px 10px;
}

.content-wrap{
    display: flex;
}

aside {
    width: 10%;
    padding: 10px;
    background-color: #c8f6c8;
}

main {
    width: 100%;
    padding: 10px 16px;
    background-color: #def4de;
    align-content: center;
}

footer {
    height: 3%;
    background-color: #96d896;
    padding: 5px 10px;
}

.errorMessage {
    color: red;
    font-size: 16px;
    background-color: rgb(250, 150, 150);
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

.container {
    background-color: #dcdbdb;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    width: fit-content;
}

.content {
    padding: 8px;
}

.textbox {
    box-sizing: 100%;
}

.button {
    margin: 8px;
}

.submit {
    padding: 4px;
}